/* Space out content a bit */
body {
  padding-bottom: 20px;
}

.header {
  background-color: #D63F40;
  width: 100%;
  height: 44px;
}

.logo img {
  width: 44px;
  height: 44px;
}

.logo div {
  color: #fff;
  font-size: 1.2em;
  padding: 10px 0px 0px 15px;
}

.translator {
  margin-top: 9px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.content,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  margin: 0 15px 30px 15px;
  border-bottom: 1px solid #e5e5e5;
}

.screenshots img {
  width: 90%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .content,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.faq {
  display: block;
  margin-bottom: 30px;
}