/* General */
body {
  padding-bottom: 20px;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.4em;
  font-size: 1.6em;
}

p {
  margin: 0 0 15px;
}

h4 {
  margin-top: 30px;
}

/* Header / Footer */
.header {
  background-color: #D63F40;
  width: 100%;
  height: 44px;
}

.logo img {
  width: 44px;
  height: 44px;
}

.appstore a img {
  width: 135px;
  height: 40px;
  margin-top: 20px;
}

.logo div {
  color: #fff;
  font-size: 1.2em;
  padding: 10px 0px 0px 15px;
}

.translator {
  margin-top: 9px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;

  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.screenshots img {
  width: 90%;
}

.carousel {
  width: 320px;
  margin: auto;
}

.carousel-control .left, .carousel-control .right {
  background-image: '';
}

.carousel-indicators {
  background-color: rgba(3,3,3,0.5);
  width: 40%;
  left: 61%;
  border-radius: 5px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .content,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media (max-width: 540px) {
  p.bottom-links {
    float: none !important;
    text-align: center;
  }
  .appstore {
    float: none !important;
    text-align: center;
  }
}